.list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  width: calc(10% - 10px);
  background-color: floralwhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}

.nameActor {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 0;
}

.nameCharacter {
  margin-top: 5px;
  font-size: 16px;
}
