.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-right: 10px;
  font-size: 18px;
}

.search-button {
  padding: 10px 20px;
  background-color: #3488db;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.search-button:hover {
  background-color: #235ba0;
  color: #000000;
}
